@using System.Text.RegularExpressions

<div class="individual-product-container">
	<a href="@productURL">
	 <img src="@Product.Poster" alt="hero image" class="product-poster" />
 </a>
 <a href="@productURL">
 <p class="product-title">@Product.TitleBrief</p>
</a>
 <p class="product-price">@Product.Price</p>

 <div>
	 <a class="btn btn-info" href="/product/edit/@Product.Id">Edit</a>
	 <button type="button" class="btn btn-danger"
			@onclick="@(() => DeleteProduct.InvokeAsync(Product))">
		 Delete		
	</button>
 </div>

</div>


@code {
	[Parameter] public Product Product { get; set; }
	[Parameter] public EventCallback<Product> DeleteProduct { get; set; }
	
	[Parameter] public string CleanUri { get; set; }

	private string productURL = string.Empty;

  protected override void OnInitialized()
  {
      productURL = $"product/{Product.Id}/{Product.Title.Replace(" ", "-")}";

			//{Product.Id}/{Product.Title.Replace(" ", "-")}
  }
}