@page "/product/{ProductId:int}"
@page "/product/{ProductId:int}/{ProductName}"
@inject IProductRepository productRepository


	@if (model == null)
	{
		<Loading InfoText="Loading..." />
	}
	else
	{
		<h2>@model.Product.Title (@model.Product.SellStartDate.Value.ToString("yyyy"))</h2>
		for (int i = 0; i < model.Categories.Count; i++)
		{
			if (i < model.Categories.Count - 1)
			{
				@linkCategory(model.Categories[i])<text>, </text>
			}
			else
			{
				@linkCategory(model.Categories[i])
			}
		}
		<text> | </text> <span>@model.Product.SellStartDate.Value.ToString("yyyy/MM/dd")</span>

		<div class="row px-0 justify-content-start align-items-start marquis no-gutters">
			@* works if want to display imgs as bg: class="col mr-sm-2 mb-2 px-0 product-poster-indiv-bg"
			style="background:url('@model.Product.Poster'); background-position: top center; background-size: cover;"*@
			<div class="col mr-0 mr-md-2 mb-2 px-0 product-poster-indiv" >
				<img src="@model.Product.Poster" class="product-poster-indiv" />
			</div>
		</div>

		<div class="col mt-3 p-0">
			<h3>Summary</h3>
			<div>
				<RenderMarkdown MarkdownContent="@model.Product.Summary" />
			</div>
		</div>


	@if(@model.People.Count > 0)
	{
		<div class="col mt-3 p-0">
			<h3>People & Roles</h3>
			<div class="col px-0">
				<table class="table">
				<thead>
					<tr>
						<th scope="col">Photo</th>
						<th scope="col">Person Attached to Product</th>
						<th scope="col">Role or Job Performed</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var person in model.People)
				{
					<tr>
					<td class="mb-1">
						<img class="thumb" src="@person.Photo" />
					</td>
					<td>
						<span class="d-inline-block">
							<a href="/person/@person.Id/@person.FullName.Replace(" ", "-")">
								@person.FullName
							</a>
						</span>
					</td>
					<td>
						<span>@person.Role</span>
					</td>
					</tr>
				}
				</tbody>
				</table>
			</div>
		</div>
	}
}

@code {
	[Parameter] public int ProductId { get; set; }
	[Parameter] public string ProductName { get; set; }
	private RenderFragment<Category> linkCategory = (category) =>
			@<a href="products/search?categoryId=@category.Id">@category.Name</a>;
	DetailsProductDTO model;


	protected async override Task OnInitializedAsync()
	{
		model = await productRepository.GetDetailsProductDTO(ProductId);
	}
}
